{% extends 'layouts/base_sections.html' %}
{% load static %}
{% block body %} class="sign-in-illustration" {% endblock body %}

{% block header %}
	{% include 'includes/navigation.html' %}
{% endblock header %}

{% block content %}
	<section>
		<div class="page-header min-vh-100">
			<div class="container">
				<div class="row">
					<div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
						<div class="card card-plain mt-6">
							<div class="card-header pb-0 text-left">
								<h4 class="font-weight-bolder">
									{{ worker|yesno:"Update,Create" }} account
								</h4>
							</div>
							<div class="card-body">
								<form action=""
											method="post">
									{% csrf_token %}

									{% for field in form %}
										<div class="mb-3">
											<div class="text-primary mb-2">
												{{ field.label }}
											</div>

											{% if field.name == "position" and not user.is_authenticated %}
												{% for value, label in field.field.choices %}
													<div class="form-check">
														<input
															class="form-check-input"
															type="radio"
															id="id_{{ field.name }}_{{ value }}"
															name="{{ field.name }}"
															value="{{ value }}"
															{% if form.data.position == value|stringformat:"s" %}checked{% endif %}>
														<label class="form-check-label"
																	 for="id_{{ field.name }}_{{ value }}">
															{{ label }}
														</label>
													</div>
												{% endfor %}
											{% else %}
												{{ field }}
											{% endif %}

											<div class="text-danger mt-2">
												{{ field.errors }}
											</div>
										</div>
									{% endfor %}

									<button type="submit"
													class="btn btn-primary">
										Submit
									</button>
								</form>
							</div>
						</div>
					</div>

					{# side banner #}
					{% include "includes/form_banner.html" %}
				</div>
			</div>
		</div>
	</section>
{% endblock content %}
