{% extends 'layouts/base_sections.html' %}{% load static %}
{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}
	<main class="header-2">
		<div
			class="page-header min-vh-100 relative"
			style="background-image: url('{% static 'img/curved-images/curved.jpg' %}')">
			<div class="container my-5">
				<!-- Table -->
				<div class="table-responsive shadow">
					<table
						class="table table-striped table-hover align-middle bg-white
						text-center rounded-3 overflow-hidden">
						<thead class="bg-gradient-primary text-white">
							<tr>
								<th
									scope="col"
									class="fw-bold text-uppercase">Username
								</th>
								<th
									scope="col"
									class="fw-bold text-uppercase">First Name
								</th>
								<th
									scope="col"
									class="fw-bold text-uppercase">Last Name
								</th>
								<th
									scope="col"
									class="fw-bold text-uppercase">Email
								</th>
								<th
									scope="col"
									class="fw-bold text-uppercase">Position
								</th>
								{% if user.is_superuser %}
									<th
										scope="col"
										class="fw-bold text-uppercase">
									Edit
									</th>
									<th
										scope="col"
										class="fw-bold text-uppercase">Delete
									</th>
								{% endif %}
							</tr>
						</thead>
						<tbody>
							{% for worker in worker_list %}
								<tr>
									<td>
										<a
											href="#"
											class="text-info fw-bold">
											{{ worker.username|capfirst }}
										</a>
									</td>
									<td>{{ worker.first_name|capfirst }}</td>
									<td>{{ worker.last_name|capfirst }}</td>
									<td><i>{{ worker.email }}</i></td>
									<td>{{ worker.position }}</td>
									{% if user.is_superuser %}
										<td>
											<a href="#?next={{ request.path }}"
												 class="text-info text-gradient">
												<i
													class="fas fa-edit me-2"
													aria-hidden="true"></i>
											</a>
										</td>
										<td>
											<a href="#"
												 class="text-danger text-gradient">
												<i class="fas fa-trash me-2"
													 aria-hidden="true"></i>
											</a>
										</td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>

					<!-- Pagination -->
					{% include "includes/pagination.html" %}
				</div>
			</div>

			<!-- Waves effect block -->
			{% if not is_paginated or page_obj.object_list.count < paginator.per_page %}
				{% include "includes/svg_waves.html" %}
			{% endif %}

		</div>
	</main>
{% endblock content %}
