<div class="col-md-6">
	<div class="card">
		<div class="card-header bg-gradient-faded-dark text-white d-flex align-items-center justify-content-between border border-1">
			<h5 class="card-title text-uppercase mb-0">{{ task }}</h5>
			{% if user.is_superuser or user.pk|stringformat:"s" in request.path %}
				<a href="{% url "task_manager:task_update" task.pk %}?next={{ request.path }}">
					<i
						class="fas fa-edit me-2 border border-1 p-3 card"
						aria-hidden="true"></i>
				</a>
			{% endif %}
		</div>
		<div class="card-body">
			<div class="container border-start border-primary border-2">
				<p>
					<strong>Type:</strong>
					{{ task.task_type }}</p>
				<p>
					<strong>Priority:</strong>
					{% if task.priority == 4 %}
						<span class="badge bg-gradient-danger">Urgent</span>
					{% elif task.priority == 3 %}
						<span class="badge bg-gradient-warning">High</span>
					{% elif task.priority == 2 %}
						<span class="badge bg-gradient-info">Medium</span>
					{% else %}
						<span class="badge bg-gradient-success">Low</span>
					{% endif %}
				</p>
				<p class="{% if task.deadline < today %}text-danger fw-bold{% endif %}">
					<strong>Deadline:</strong>
					{{ task.deadline }}
				</p>
			</div>
			<div class="text-center mt-4">
				<a
					href="{% url "task_manager:task_detail" task.pk %}"
					class="btn btn-outline-primary btn-sm">
					View Task Details
				</a>
			</div>
		</div>
	</div>
</div>
