{% load static %}
<div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
	<div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center">
		<img src="{% static 'img/shapes/pattern-lines.svg' %}"
				 alt="pattern-lines"
				 class="position-absolute opacity-4 start-0">
		<div class="position-relative">
			<img class="max-width-500 w-100 position-relative z-index-2"
					 src="{% static 'img/illustrations/chat.png' %}"
					 alt="">
		</div>
		<h4 class="mt-5 text-white font-weight-bolder">
			&quot;Attention is the new currency&quot;
		</h4>
		<p class="text-white">
			The more effortless the writing looks, the more effort the writer actually put into the process.
		</p>
	</div>
</div>
